<div class="row">
  <div class="col-xs-12">
    <h1>Change your area?</h1>
    <h5>Your area is <%= user_area.name %>. Enter a new ZIP below to change it.</h5>
    <%= render(partial: 'form') %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Why is the ZIP important?</h4>
    <p>
      List of Demands is all about local issues that are important to you and your neighbors. We use the ZIP code as
      the basic point of organization for demands.
    </p>
  </div>
</div>