<div class="main__content">
  <h1 class="h2">Let's start with your area</h1>
  <%= render(partial: 'form') %>
  <p class="bold margin-top--double">Why do we need your ZIP?</p>
  <p>
    List of Demands is all about local issues that are important to you and your neighbors. In order to start showing
    you what folks in your area have on their minds we need your ZIP.
  </p>
</div>
