<div class="flashes">
  <% flash.each do |key, value| %>
    <a href="#" data-dismiss="alert" class="alert-dismiss-wrapper close">
      <div class="alert alert-dismissible alert-<%= key %>">
        <svg class="icon icon-close"><use xlink:href="#icons-close"></svg>
        <%= value %>
      </div>
    </a>
  <% end %>
</div>
