<% content_for :head do %>
  <%= javascript_include_tag 'search-form', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="search-form">
  <div class="search-form__bar">
    <form>
      <label class="sr-only" for="q">Enter search</label>
      <%= text_field_tag("q", params[:q], class: "form-control--text search-input", placeholder: "SEARCH", data: {"turbolinks-permanent" => true, source: @demands.map(&:name).uniq.to_json}) %>
    </form>
  </div>
</div>
