<div class="topics-filter">
  <span class="topics-filter__label">Topics</span>
  <ul class="pills">
    <li><%= link_to("All", search_url(request.query_parameters.merge({topic: nil})), class: "btn btn-primary--outline #{ is_active_topic(nil) ? 'is-active' : ''}") %></li>
    <% Constants::DEMAND_TOPICS.each do |topic| %>
      <li><%= link_to("#{topic}", is_active_topic(topic) ? search_url(request.query_parameters.merge({topic: nil})) : search_url(request.query_parameters.merge({topic: topic})), class: "btn btn-primary--outline #{ is_active_topic(topic) ? 'is-active' : ''}") %></li>
    <% end %>
  </ul>
</div>
