<div class="main__content">
  <div class="main__scroll pad-all">
    <div class="edit-demand">
      <h1 class="h2">Edit Demand</h1>
      <%= render(partial: 'form', locals: { demand: @demand, submit_text: 'Save' }) %>
    </div>
  </div>
</div>
