$color-black: #000;
$color-gray: #757575;
$color-gray--light: lighten($color-gray, 30%);
$color-gray--lightest: lighten($color-gray, 48%);
$color-gray--dark: darken($color-gray, 10%);
$color-white: #fff;
$color-blue: #1dbed3;
$color-blue--light: lighten($color-blue, 45%);
$color-blue--dark: darken($color-blue, 20%);
$color-red: #d3231d;
$color-red--super-light: lighten($color-red, 50%);
$color-red--light: lighten($color-red, 45%);
$color-red--dark: darken($color-red, 20%);
$color-primary: #d3501d;
$color-focus: $color-blue;
