$font-family-serif: "Times New Roman", "Times", "serif";
$font-family-sans-serif: "Asap", "sans-serif";

$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-extra-large: 36px;

$font-letter-spacing-small: 1px;
$font-letter-spacing-medium: 2px;
$font-letter-spacing-large: 3px;

$font-weight-normal: 400;
$font-weight-bold: 500;

$line-height-base: 24px;
