<div class="main__content my-demands">
  <h1 class="h2">My Demands</h1>

  <% if current_user.user_demands.none? %>
    <h3 class="h3">You have no demands.</h3>
  <% else %>
    <%= form_tag(supported_demands_path, method: :put, remote: true, authenticity_token: true) do %>
      <ol class="demands-list sortable-list">
        <% current_user.user_demands.each_with_index do |user_demand, index| %>
          <li class="demand-item">
            <%= hidden_field_tag("supported_demands[]", user_demand.id) %>
            <div class="demand-item__counter"><%= index + 1 %></div>
            <div class="demand-item__content">
              <div class="demand-name">
                <%= link_to(user_demand.problem.name, user_demand.demand) %>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    <% end %>
  <% end %>
</div>

<% content_for(:before_body) do %>

<script type="text/javascript">
  $('.sortable-list').each(function(index, element) {
    new Sortable(element, {
      group: "yep",
      onEnd: function(event) {
        $(event.target)
          .closest('form')
          .append($("<input type='hidden' name='redirect' value='true'>"))
          .removeData('remote');
        $(event.target).closest('form').submit();
      }
    });
  })
</script>
<% end %>
