<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center"><%= @demand.name %></h1>
    <% @demand.solution.split("\n").each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>
    <% if demanded_by_user?(@demand) %>
      <span class="btn btn-primary btn-lg">Demanded</span>
    <% else %>
      <%= form_tag(demand_it_local_demand_path(@demand)) do %>
        <%= submit_tag("Demand It", class: 'btn btn-lg') %>
      <% end %>
    <% end %>
  </div>
</div>