.flashes {
  position: fixed;
  top: 10px;
  left: 5%;
  width: 90%;
  z-index: $z-index-flash;

  @media only screen and (min-width: $breakpoint-desktop) {
    left: 10%;
    width: 80%;
  }
}

.alert-dismiss-wrapper {
  display: block;
  border: 0;
  background: none;

  &:focus {
    @include focus;
  }
}

.alert-dismissible {
  display: none;
}

.alert {
  padding: $spacing ($spacing * 3);
  color: $color-blue--dark;
  background-color: $color-blue--light;
  border: 1px solid $color-blue--dark;
  border-radius: $border-radius;

  .icon-close {
    position: absolute;
    top: 50%;
    right: $spacing * 2;
    width: 1rem;
    height: 1rem;
    fill: $color-blue--dark;
    transform: translateY(-50%);
  }

  &-danger {
    color: $color-red--dark;
    background-color: $color-red--light;
    border-top: 1px solid $color-red--dark;
    border-bottom: 1px solid $color-red--dark;

    .icon-close {
      fill: $color-red--dark;
    }
  }
}
