.demands-list {
  @include list-unstyled();
  padding: 0 $spacing;
}

.demand-item {
  display: flex;
  border-bottom: 1px solid $color-gray--light;
  padding: $spacing 0 ($spacing * 2) 0;

  &__counter {
    padding: 0 ($spacing * 2) 0 $spacing;
    font-size: $font-size-large;
    font-family: $font-family-serif;
    font-weight: 600;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (min-width: $breakpoint-desktop) {
      flex-wrap: nowrap;
    }
  }

  &__name-container {
    width: 100%;
    padding-right: $spacing * 2;

    @media only screen and (min-width: $breakpoint-desktop) {
      width: auto;
      flex: 1;
    }
  }

  &__button {
    margin-top: $spacing;

    @media only screen and (min-width: $breakpoint-desktop) {
      margin-top: 0;
    }
  }
}

.demand-demanded {
  color: $color-gray;
}

.demand-count {
  color: $color-black;
}

.no-demands {
  display: none;
}
