.demands-list {
  @include list-unstyled();
}

.demand-item {
  display: flex;
  border-bottom: 1px solid $color-gray--lightest;
  padding: ($spacing * 1.5) 0;

  &__counter {
    min-width: 52px;
    padding: 0 ($spacing * 2) 0 0;
    font-size: $font-size-medium;
    font-family: $font-family-serif;
    color: $color-gray;
    text-align: right;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (min-width: $breakpoint-desktop) {
      flex-wrap: nowrap;
    }
  }

  &__name-container {
    width: 100%;
    padding-right: $spacing * 2;

    @media only screen and (min-width: $breakpoint-desktop) {
      width: auto;
      flex: 1;
    }
  }

  &__button {
    margin-top: $spacing;

    @media only screen and (min-width: $breakpoint-desktop) {
      margin-top: 0;
    }
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    padding: ($spacing * 1.5) ($spacing * 1.5) ($spacing * 1.5) 0;
  }
}

.demand-name {
  font-weight: $font-weight-bold;
  font-size: $font-size-medium;
}

.demand-meta {
  color: $color-gray;
  font-size: $font-size-small;
}

.demand-count {
  color: $color-black;
}

.unmatched-search {
  display: none;
}
