label input[type="checkbox"],
label input[type="radio"] {
  margin-right: $spacing;
}

.form-group {
  margin-bottom: $spacing * 2;
}

.control-label {
  display: block;
  margin-bottom: $spacing / 2;
  color: $color-gray;
}

.form-control {
  display: block;

  &--text {
    width: 100%;
    border: 1px solid $color-gray--light;
    border-radius: $border-radius;
    padding: 5px 10px;

    &:focus {
      @include focus;
    }
  }

  &--select {
    border: 1px solid $color-gray--light;
    border-radius: $border-radius;
    padding: 5px 10px;

    &:focus {
      @include focus;
    }
  }
}

.input-pills {
  display: flex;
  flex-wrap: wrap;

  .radio,
  .checkbox {
    margin: 0 $spacing $spacing 0;

    input {
      display: none;
    }

    label {
      @extend .btn;
      @extend .btn-primary--outline;
      position: relative;
      margin-bottom: 0;
      padding: 6px 30px;
      border-radius: 25px;
      cursor: pointer;
    }

    label::after {
      content: "";
      position: absolute;
      left: 10px;
      top: 40%;
      display: none;
      width: 6px;
      height: 12px;
      border: solid $color-white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) translateY(-50%);
    }

    input:checked ~ label {
      @extend .btn-primary;
    }

    input:checked ~ label::after {
      display: block;
    }

    input:disabled ~ label {
      opacity: 0.65;
      cursor: default !important;

      &:hover,
      &:focus,
      &:active {
        background-color: $color-primary !important;
      }
    }
  }
}

abbr[title] {
  text-decoration: none;
}

.help-block {
  color: $color-gray;
  font-size: $font-size-small;
}

.has-error {
  .form-control--text {
    border: 1px solid $color-red;
    background: $color-red--super-light;
  }

  .help-block {
    color: $color-red;
  }
}
