label input[type="checkbox"],
label input[type="radio"] {
  margin-right: $spacing;
}

.form-group {
  margin-bottom: $spacing * 2;
}

.control-label {
  display: block;
  margin-bottom: $spacing / 2;
  color: $color-gray;
}

.form-control {
  display: block;

  &--text {
    width: 100%;
    border: 1px solid $color-gray--light;
    border-radius: $border-radius;
    padding: 5px 10px;

    &:focus {
      @include focus;
    }
  }

  &--select {
    border: 1px solid $color-gray--light;
    border-radius: $border-radius;
    padding: 5px 10px;

    &:focus {
      @include focus;
    }
  }
}

.input-pills {
  display: flex;
  flex-wrap: wrap;

  .radio,
  .checkbox {
    margin: 0 $spacing $spacing 0;

    input {
      display: none;
    }

    label {
      @extend .btn;
      position: relative;
      margin-bottom: 0;
      padding: 6px 30px;
      color: $color-primary;
      border-radius: 25px;
      background-color: $color-white;
      border-color: $color-primary;
      box-shadow: $btn-box-shadow;

      .icon {
        fill: $color-primary;
      }

      &::after {
        content: "";
        position: absolute;
        left: 10px;
        top: 40%;
        display: none;
        width: 6px;
        height: 12px;
        border: solid $color-white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg) translateY(-50%);
      }
    }

    input:focus ~ label,
    input.focus ~ label {
      @include focus;
    }

    input:disabled ~ label,
    input.disabled ~ label {
      opacity: 0.65;
      box-shadow: none;

      &:hover {
        cursor: default;
      }
    }

    input:checked ~ label {
      color: $color-white;
      background-color: $color-primary;

      &::after {
        display: block;
      }
    }

    input:not(:disabled) ~ label:hover,
    input:not(:disabled) ~ label.is-active {
      color: $color-white;
      background-color: $color-primary;
      border-color: $color-primary;
    }

    input:checked:not(:disabled) ~ label:hover {
      background-color: darken($color-primary, 5%);
      border-color: darken($color-primary, 5%);
    }
  }
}

abbr[title] {
  text-decoration: none;
}

.help-block {
  color: $color-gray;
  font-size: $font-size-small;
}

.has-error {
  .form-control--text {
    border: 1px solid $color-red;
    background: $color-red--super-light;
  }

  .help-block {
    color: $color-red;
  }
}
