html {
  &.nav-open {
    overflow-y: hidden;
  }
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

.mobile-only {
  display: block;

  @media only screen and (min-width: $breakpoint-desktop) {
    display: none !important;
  }
}

.desktop-only {
  display: none;

  @media only screen and (min-width: $breakpoint-desktop) {
    display: block !important;
  }
}

.body-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity $navbar-transition-time;

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $sidebar-width;
  padding: $spacing * 2;
  padding-top: $below-header-spacing-desktop;
  overflow-x: hidden;
  overflow-y: auto;

  &__title {
    @extend .h3;
    padding: $spacing ($spacing * 2);
    margin-bottom: $spacing;
    color: $color-black;
    text-decoration: none !important;
  }
}

.main {
  margin-top: $header-height;
  padding-top: $below-header-spacing;

  &__content {
    padding: $spacing;
    max-width: $content-max-width;

    @media only screen and (min-width: $breakpoint-desktop) {
      padding: ($spacing * 3) ($spacing * 2) $spacing;
    }
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    margin-top: 0;
    margin-left: $sidebar-width;
    padding-top: 0;
  }
}
