.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: $color-white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
  z-index: $z-index-header;

  &__main {
    display: flex;
    padding: $spacing;

    @media only screen and (min-width: $breakpoint-desktop) {
      padding: $spacing ($spacing * 3) $spacing ($spacing * 4);
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-black;
    text-decoration: none !important;
  }

  &__title {
    @extend .h2;

    &--main {
      @extend .h3;
      display: none;

      @media only screen and (min-width: $breakpoint-desktop) {
        display: block !important;
      }
    }
  }

  &__toggle {
    margin-left: auto;

    .icon {
      fill: $color-gray;
    }

    .icon-close {
      display: none;
    }
  }

  &__expand {
    display: none;
    margin-bottom: $spacing;
  }

  &__site-links {
    margin-left: auto;
  }

  .search-form {
    @media only screen and (min-width: $breakpoint-desktop) {
      display: none;
    }
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    position: relative;
    box-shadow: none;
  }
}

.nav-list {
  @include list-unstyled;
  margin: ($spacing * 2) 0;

  a {
    @extend .uppercase;
    display: block;
    padding: 10px 20px;
    color: $color-primary;
    text-decoration: none;
    letter-spacing: $font-letter-spacing-medium;

    &:hover {
      background-color: rgba(0, 0, 0, .05);
    }

    &.is-active {
      color: $color-white;
      background-color: $color-primary;
    }
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    margin: 0;
  }
}

.nav-blurb {
  display: block;
  margin-bottom: 10px;
  padding: 0 ($spacing * 2);
  color: $color-gray;
  font-size: $font-size-small;

  &:first-of-type {
    margin-top: $spacing * 4;
  }

  &:last-of-type {
    margin-bottom: $spacing * 2;
  }
}

.site-links {
  @include list-unstyled;
  display: flex;
  justify-content: space-around;

  a {
    display: block;
    padding: $spacing ($spacing * 2);
    font-size: $font-size-small;
  }
}
