.search-show {
  padding-top: 48px;

  h2 {
    padding: 10px;
    margin-bottom: 0;

    .h2,
    .h3 {
      margin-bottom: $spacing / 2;
    }
  }

  .desktop-header-container {
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    padding-top: 0;
  }
}

.profile {
  &__edit-fields {
    padding: $spacing;
  }
}

.new-demand {
  padding: $spacing;
  position: relative;

  .demand_demand_description .form-control--text {
    min-height: 60px;
  }

  .demand_solution .form-control--text {
    min-height: 160px;
  }
}

.my-demands {
  &__header {
  display: flex;

    a {
      margin-left: auto;
    }
  }

  .demands-list:first-of-type {
    margin-bottom: $spacing * 4;
  }
}
