.search-form {
  padding: 5px 10px;
}

.topics-filter {
  display: flex;
  align-items: center;
  padding: $spacing $spacing ($spacing / 2);

  &__label {
    flex-shrink: 0;
    margin-right: 0 $spacing ($spacing / 2) 0;
    color: $color-gray;
  }
}
