.topics-filter {
  display: flex;
  align-items: center;
  padding: $spacing;
  border-bottom: 1px solid $color-gray--lightest;

  &__label {
    flex-shrink: 0;
    margin: 0 $spacing ($spacing / 2) 0;
    color: $color-gray;
    font-size: $font-size-small;
  }

  .btn-primary--outline {
    &:hover,
    &:focus {
      color: $color-primary;
      background-color: lighten($color-primary, 50%);
      font-weight: $font-weight-bold;
    }

    &.is-active {
      color: $color-white;
      background-color: $color-primary;
      font-weight: $font-weight-normal;

      &:hover {
        background-color: darken($color-primary, 5%);
      }
    }
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    padding: $spacing ($spacing * 1.5);
  }
}
